<h2>Hello <%= @user_email %>,</h2>

<p>
	Thank you for visiting 'Wegscheid Web Services'.  We have attached our newsletter for this month below.  If you would like to continue receiving our monthly newsletter, please reply to this email with the word 'SUBSCRIBE'. 
</p>
