<video autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/oranges_clip.mp4" type="video/mp4">
</video>

<div class="about_info animated fadeInRight">
	<p>Founded around a knowledge of the technology industry and a love for Southwest Florida, Wegscheid Web Services is here to assist locals in building their influence on the internet.  Through designing and maintaining websites for businesses of the area, we have made it our mission to showcase what makes the community of Southwest Florida unique.</p>
</div>