<video autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/oranges_clip.mp4" type="video/mp4">
</video>

<div class="about_info">
	<p>Founded and built around a knowledge of the tech industry and a love for South West Florida, Wegscheid Web Services is here to help locals set their influence on the internet.  By designing and maintaining websites for businesses of the area, we have made it our mission to help showcase what makes the people and businesses of South West Florida so special.</p>
</div>