<% provide(:title, 'About') %>

<video playsinline autoplay muted id="background_video" class="animated fadeInUp">
	<source src="/videos/big_bloom_1.mp4" type="video/mp4">
</video>

<div class="about_info animated fadeInRight">
	<a href="https://www.wegscheidwebservices.com/assets/hello!-409c8e78237e39b663333b61baf58d04155e04729e4ff1b89911c9ed1090258d.png" ><%= image_tag('hello!.png', size: '475x650', alt: "Welcome Sheet", class: 'shadow-double') %></a>
</div>
