<video playsinline="true" autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/oranges_clip.mp4" type="video/mp4">
</video>

<div class="about_info animated fadeInRight">
	<p>Founded by Christopher Wegscheid, a born and raised resident of La Belle, Florida, Wegscheid Web Services LLC is an institute dedicated to a respect for the ever changing technology industry, and a local's admiration for the distinct qualities of Southwest Florida. Wegscheid Web Services LLC thrives in generating personalized designs to fit each individual's vision, and ensuring that each creation is routinely improved with the best upgrading innovations in the industry. We have made it our mission to showcase what makes the community of Southwest Florida unique.</p>
</div>