<% provide(:title, 'Construction') %>

<video playsinline autoplay muted id="construction_video" class="animated fadeIn">
	<source src="/videos/gams_zoom_out_2.mp4" type="video/mp4">
</video>

<div class="construction_fill animated fadeInDown" >
	<p>Under Construction</p>
	<h6><em>Check back soon</em></h6>
</div>