<video autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/waves_clip.mp4" type="video/mp4">
</video>

<div class="contact_info animated fadeIn">
	<ul>
		<li>Wegcheid Web Services, LLC.</li>
		<li>chris@wws.com</li>
		<li>(863)-673-6419</li>
		<li>Labelle, FL</li>
	</ul>
</div>