<% provide(:title, 'Contact') %>

<% provide(:page_description, 'Would you like a consultation or need to reach out to us?') %>

<video playsinline autoplay muted id="background_video" class="animated fadeInUp">
	<source src="/videos/flower_wall.mp4" type="video/mp4">
</video>

<div class="contact_info animated fadeIn shadow blur">
	<ul>
		<li>Wegcheid Web Services LLC.</li>
		<li><a href="mailto:contact@wegscheidwebservices.com">contact@wegscheidwebservices.com</a></li>
		<li><a href="tel:863-673-6419">(863)-673-6419</a></li>
	</ul>
</div>