<% provide(:title, 'Contact') %>

<video playsinline autoplay muted id="background_video" class="animated fadeInUp">
	<source src="/videos/flower_wall.mp4" type="video/mp4">
</video>

<div class="contact_info animated fadeIn shadow">
	<ul>
		<li>Wegcheid Web Services LLC.</li>
		<li><a href="">contact@wegscheidwebservices.com</a></li>
	</ul>
</div>