<% provide(:page_description, 'Wegscheid Web Services is a web design company, founded in Labelle to build custom websites for South West Florida\'s local small businesses.') %>

<video playsinline autoplay muted id="background_video" class="animated fadeIn">
	<source src="/videos/inverted_flowers.mp4" type="video/mp4">
</video>


<div id="home_nav" class="shadow">
	<table>
		<tr>
			<td><a href="/">Home</a></td>
			<td><div class="main-nav-fill box-1">&nbsp;</div></td>
			<td><a href="/about">About WWS</a></td>
			<td><div class="main-nav-fill box-2">&nbsp;</div></td>			
		</tr>

		<tr>
			<td><div class="main-nav-fill box-3">&nbsp;</div></td>
			<td><a href="/services">Build a New Site</a></td>
			<td><div class="main-nav-fill box-4">&nbsp;</div></td>			
			<td><a href="/maintenance">Do you already have a site?</a></td>			
		</tr>

		<tr>
			<td><a href="/news">See what's going on with WWS</a></td>	
			<td><div class="main-nav-fill box-5">&nbsp;</div></td>
			<td><a href="/Portfolio">Want to see some of our work?</a></td>		
			<td><div class="main-nav-fill box-6">&nbsp;</div></td>
		</tr>
		<tr>
			<td><div class="main-nav-fill box-7">&nbsp;</div></td>
			<td><a href="/contact">Want to get in contact with us?</a></td>
			<td><div class="main-nav-fill box-8">&nbsp;</div></td>	
			<td><div class="main-nav-fill box-9">&nbsp;</div></td>	
		</tr>
	</table>
</div>