<div class="filter"></div>

<div class="logo">
	<%= link_to image_tag("blue_letter_1.png", :controller => 'static_pages#home', :width => '230', :height => '150' )%>
</div>

<div class="toolbar">
	
</div>
