<% provide(:page_description, 'Wegscheid Web Services is a web design company, founded in Labelle to build custom websites for South West Florida\'s local small businesses.') %>

<video playsinline autoplay muted id="background_video" class="animated fadeIn">
	<source src="/videos/inverted_flowers.mp4" type="video/mp4">
</video>


<div id="home_nav" class="">
	<table>
		<tr>
			<td>
				<div class="main-nav-link link_1">
					<a href="/">Home</a>
				</div>
			</td>

			<td><div class="main-nav-fill box-1">&nbsp;</div></td>
			<td><div class="main-nav-link link_2"><a href="/about">About WWS</a></div></td>
			<td><div class="main-nav-fill box-2">&nbsp;</div></td>			
		</tr>

		<tr>
			<td><div class="main-nav-fill box-3">&nbsp;</div></td>
			<td><div class="main-nav-link link_3"><a href="/services">Build a New Site</a></div></td>
			<td><div class="main-nav-fill box-4">&nbsp;</div></td>			
			<td><div class="main-nav-link link_4"><a href="/maintenance">Do you already have a site?</a></div></td>			
		</tr>

		<tr>
			<td><div class="main-nav-link link_5"><a href="/news">See what's going on with WWS</a></div></td>	
			<td><div class="main-nav-fill box-5">&nbsp;</div></td>
			<td><div class="main-nav-link link_6"><a href="/portfolio">Want to see some of our work?</a></div></td>		
			<td><div class="main-nav-fill box-6">&nbsp;</div></td>
		</tr>
		<tr>
			<td><div class="main-nav-fill box-7">&nbsp;</div></td>
			<td><div class="main-nav-link link_7"><a href="/contact">Want to get in contact with us?</a></div></td>
			<td><div class="main-nav-fill box-8">&nbsp;</div></td>	
			<td><div class="main-nav-fill box-9">
				<!-- <%= image_tag('blue_letter_1.png', size: '140x200') %> -->
			</div></td>	
		</tr>
	</table>
</div>