<% provide(:title, 'Log Cabin') %>

<div class="log-cabin-container">
	<div class="log-cabin-nav-bar">
		<div class="log-cabin-logo">
			<!-- <%= image_tag('log-cabin-2.jpg', size: '150x100') %> -->
		</div>

		<div class="log-cabin-navigation">
			<table>
				<tr>
					<td><a>Home</a></td>
					<td>&nbsp;</td>
					<td><a>History</a></td>
					<td>&nbsp;</td>
					<td><a>Menu</a></td>
					<td>&nbsp;</td>
					<td><a>Location</a></td>
					<td>&nbsp;</td>
					<td><a>Order</a></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="log-cabin-background">
		<%= image_tag('log-cabin-2.jpg') %>
	</div>

	<div class="log-cabin-content">
		
		<table>
			<tr>
				<td>
					<div><a href="">MENU</a></div>
				</td>
				<td>
					<div><a href="">HISTORY</a></div>
				</td>
				<td>
					<div><a href="">ORDER</a></div>
				</td>
			</tr>
		</table>
		

	</div>

	<div class="log-cabin-footer">
		
	</div>
</div>