<% provide(:title, 'Maintain Current Site') %>

<video playsinline autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/bloom.mp4" type="video/mp4">
</video>

<div class="about_info animated fadeInRight">
	<p>We can also take over maintenance of your current website.  Submit your URL below for a consultation and quote.</p>
</div>

