<% provide(:title, 'Maintain Current Site') %>

<video playsinline autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/bloom_2.mp4" type="video/mp4">
</video>

<div class="maintenance">
	<div class="maintenance_info animated fadeInRight">
		<p>We can also take over maintenance of your current website.  Submit your URL below for a consultation and quote.</p>
	</div>

	<div class="maintenance_form">
		<form>
			<input type="text" name="url" placeholder="URL"><br><br>
			<input type="text" name="email" placeholder="Email"><br><br>
			<input type="text" name="phone_number" placeholder="Phone Number"><br>
			<button class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>