<% provide(:title, 'Maintain Current Site') %>

<% provide(:page_description, 'Do you currently have a site? Does it look dated or just need a refresh? WWS has a web developer ready to help bring your web site up to date!') %>

<% provide(:page, 'maintenance') %>

<video playsinline autoplay muted id="background_video" class="animated fadeInUp">
	<source src="/videos/bloom_2.mp4" type="video/mp4">
</video>

<div class="maintenance">

	<!-- <div class="blur"></div> -->

	<div class="maintenance_info animated fadeIn shadow blur">
		<p>We can also take over maintenance of your current website.  Submit your URL below for a consultation and quote.</p>
	</div>

	<div class="maintenance_form animated fadeIn">
		<form>
			<input type="text" name="url" placeholder="URL" class="text-box"><br><br>
			<input type="text" name="email" placeholder="Email" class="text-box"><br><br>
			<input type="text" name="phone_number" placeholder="Phone Number" class="text-box"><br>
			<input type="submit" name="Submit" class="button">
		</form>
	</div>
</div>