<video playsinline autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/oranges_clip_2.mp4" type="video/mp4">
</video>


<div class="wireframes">
	<div class="wireframe_left animated fadeInLeft">
		<%= image_tag('wireframe_color_left.png', :size => '255x450') %>
	</div>

	<div class="wireframe_right animated fadeInRight">
		<%= image_tag('wireframe_color_right.png', :size => '255x450') %>
	</div>	
</div>

<div class="services_info animated fadeInLeft">
	<p>Select from different layouts, color schemes, and responsive animations to make your webpage stand out.</p>
</div>