<video autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/ink_clip.mp4" type="video/mp4">
</video>

<div class="wireframes">
	<div class="wireframe animated fadeInLeft">
		<%= image_tag('wireframe_1.png', :size => '420x450') %>
	</div>

	<div class="wireframe animated fadeInRight">
		<%= image_tag('wireframe_2.png', :size => '420x450') %>
	</div>	
</div>

<div class="services_info animated fadeIn">
	<p>Select from different layouts, color schemes, and responsive animations to make your webpage stand out.</p>
</div>