<% provide(:title, 'Build a Site') %>

<video playsinline loop="true" autoplay="true" muted="true"  id="background_video" class="animated fadeInUp">
	<source src="/videos/fire_clip_2.mp4" type="video/mp4">
</video>

<div class="services_info_background animated fadeInRight shadow">
	<div class="wireframes">
		<div class="wireframe_left animated fadeInLeft">
			<%= image_tag('wireframe_color_left.png', :size => '255x450') %>
		</div>

		<div class="wireframe_right animated fadeInRight">
			<%= image_tag('wireframe_color_right.png', :size => '255x450') %>
		</div>	
	</div>

	<div class="services_info animated fadeIn">
		<p>Select from different layouts, color schemes, and responsive animations to make your webpage stand out.</p>
	</div>
</div>

<div class="packages shadow animated fadeInLeft">
	<div class="standard_package animated fadeIn">
		<a>&nbsp;Standard Package</a> |&nbsp;

		<div class="standard_dropdown animated fadeInLeft">
			<ul>
				<li>Pages: 1-3</li>
				<li>Pictures: 0-10</li>
				<li>Videos: - </li>
				<li>Basic SEO: INCLUDED</li>
				<li>Google Business: - </li>
				<li>SSL Certificate: INCLUDED</li>
				<li>Domain Name: INCLUDE</li>
				<li>Email Address: - </li>
				<li>24/7 Customer Service: INCLUDED</li>
				<li>Free Mock Up</li>
			</ul>
		</div>
	</div>
	
	<div class="deluxe_package animated fadeIn">
		<a>&nbsp;Deluxe Package</a> |&nbsp;

		<div class="deluxe_dropdown animated fadeInLeft">
			<ul>
				<li>Pages: 4-10</li>
				<li>Pictures: 11-25</li>
				<li>Videos: 1-5</li>
				<li>Basic SEO: INCLUDED</li>
				<li>Google Business: <strong>INCLUDED</strong></li>
				<li>SSL Certificate: INCLUDED</li>
				<li>Domain Name: INCLUDE</li>
				<li>Email Address: INCLUDED</li>
				<li>24/7 Customer Service: INCLUDED</li>
				<li>Free Mock Up</li>
			</ul>
		</div>
	</div>
	
	<div class="business_pro_package animated fadeIn">
		<a>&nbsp;Business Pro Package</a> |&nbsp;

		<div class="business_pro_dropdown animated fadeInLeft">
			<ul>
				<li>Pages: UNLIMITED</li>
				<li>Pictures: UNLIMITED</li>
				<li>Videos: UNLIMITED</li>
				<li>Basic SEO: INCLUDED</li>
				<li>Google Business: INCLUDED</li>
				<li>SSL Certificate: INCLUDED</li>
				<li>Domain Name: INCLUDED</li>
				<li>Email Address: INCLUDED</li>
				<li>24/7 Customer Service: INCLUDED</li>
				<li>Free Mock Up</li>
			</ul>
		</div>
	</div>
</div>