// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	grid-area: content;
	margin: 75px 0px 0px 20px;
}

.new_member {
	z-index: 1;
}

.signup-form {
	grid-area: content;
	align-self: center;
	justify-self: center;
	text-align: center;
	max-width: 175px;
}


/* SHOW */

.show-member {
	grid-area: content;
	align-self: center;
	justify-self: center;
	display: block;
	text-align: center;
}