// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	grid-area: content;
	justify-self: center;
	// margin: 75px 0px 0px 20px;
}

.new_member {
	z-index: 1;
}

.signup-form {
	grid-area: content;
	align-self: center;
	justify-self: center;
	text-align: center;
	max-width: 175px;
	z-index: 1;
}


/* SHOW */

.show-member {
	grid-area: content;
	align-self: center;
	justify-self: center;
	display: block;
	text-align: center;
	font-size: 24px;
	font-weight: 100;
}


/* EDIT */

.edit-form {
	grid-area: content;
	justify-self: center;
	align-self: center;
	text-align: end;
	font-size: 16px;
	z-index: 1;
}


/* INDEX */

.member-index {
	grid-area: content;
	justify-self: center;
	align-self: center;
	text-align: center;
	font-size: 16px;
	z-index: 1;
}