// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
	margin: 100px 0px 0px -100px;
	z-index: 1;
}

.new_member {
	z-index: 1;
}

form {
	z-index: 1;
}