// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	width: auto;
	height: 100%;
	display: grid;
	grid-template-areas:
		"logo logo menu"
		"content content content"
		"footer footer footer";
	grid-auto-rows: 1fr 6fr 1fr;
	grid-auto-columns: 1fr 3fr 1fr;
}

#background_video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.logo {
	grid-area: logo;
	margin: 3% 0px 0px 1%;
	position: fixed;
	background-color: rgba(84, 85, 82, 0);
	border-radius: 0px;
	height: 110px;
	a img {
		margin: -25px 0px 0px 11px;
	}
}

.logo:hover {
	background-color: rgba(255, 255, 255, 0.35);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.filter {
	background-image: linear-gradient(to bottom right, #00b4ff, black);
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0.2;
}

.slogan {
	grid-area: logo;
	position: fixed;
	color: white;
	margin: 95px 0px 0px 3px;
	width: 311px;
	height: 54px;
	font-size: 20px;
	font-weight: 100;
	align-self: end;
	/* box-shadow: 0px 10px 8px -8px whitesmoke; */
	p {
		margin: 8px 0px 0px 33px;
		animation-delay: 2s;
		animation-duration: 2s;
	}
}

.footer {
	grid-area: footer;
	background-color: rgba(0, 0, 0, 0);
	position: relative;
	max-height: 400px;
	margin-top: 10px;
}

/* ABOUT PAGE */

.about_info {
	grid-area: content;
	position: relative;
	color: white;
	text-align: center;
	justify-self: center;
	width: 350px;
	font-weight: 100;
	font-size: 19px;
	align-self: center;
	margin-left: 100px;
	background-color: rgba(0, 0, 0, 0.5);
}


/* SERVICES PAGE */

.wireframes {
	position: relative;
	grid-area: content;
	margin: 0px 0px 0px 0px;
	animation-delay: 2s;
	animation-duration: 3s;
	display: inline-flex;
	align-self: center;
	justify-self: center;
}

.services_info {
	position: relative;
	color: white;
	grid-area: content;
	display: inline-flex;
	margin: 0px 0px 0px 8%;
	width: 170px;
	font-weight: 100;
	font-size: 23px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	height: 289px;
	animation-delay: 2s;
	animation-duration: 3s;
	align-self: center;
	p {
		width: 144px;
		margin-left: 14px;
	}
}

.wireframe_left {
	margin: 0px 25px 0px 0px;
}

.wireframe_left:hover {
	background-color: rgba(255, 255, 255, 0.35);
}

.wireframe_right {
	margin: 0px 0px 0px 25px;
}


/* CONTACT PAGE */


.contact_info {
	grid-area: content;
	position: relative;
	color: white;
	justify-self: center;
	text-align: center;
	margin: 58px 0px 0px 0px;
	font-size: 26px;
	font-weight: 200;
	background-color: rgba(0, 0, 0, 0.5);
	animation-delay: 2s;
	animation-duration: 3s;
	align-self: center;
	ul li {
		list-style: none;
	}
	ul {
		margin-left: -33px;
	}
}



/* DROP DOWN MENU */


.dropbtn {
  background-color: rgba(0, 0, 255, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  grid-area: menu;
  position: relative;
  justify-self: end;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(255,255,255,0.11);
  min-width: 117px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-width: 160px;
  margin: 0px 0px 0px -50px;
  text-align: end;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	color: white;
}

.dropdown-content a:hover {
	background-color: rgba(0, 0, 0, 0.35);
	color: white;	
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(255, 255, 255, 0.25)}

.services_tab .services_dropdown {
	display: none;
	background-color: rgba(255, 255, 255, 0.1);
	min-width: 165px;
	color: white;
	margin: -44px 0px 0px -165px;
	z-index: 1;
	box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.2);
	position: absolute;
}

.services_tab:hover .services_dropdown {
	display: block;
	background-color: rgba(255, 255, 255, 0.1);
}

.services_dropdown a:hover {
	background-color: rgba(0, 0, 0, 0.35);
	color: white;
}

.menu_icon {
	div {
  		width: 35px;
  		height: 5px;
  		background-color: rgba(255, 255, 255, 1);
  		margin: 6px 0;
  		border-radius: 3px;
	}
	.one {
		animation-delay: 0.5s;
		animation-duration: 3s;
	}
	.two {
		animation-delay: 1s;
		animation-duration: 3s;
	}
	.three {
		animation-delay: 1.5s;
		animation-duration: 3s;
	}
}

