// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height: 100%;
	width: auto;
}

body {
	height: 100%;
	width: auto;
}

.blur {
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	height: 100%;
	width: 100%;
	position: absolute;
	background-color: rgba(201, 201, 201, 0.35);
	z-index: 0;
}

.text-box {
	-webkit-backdrop-dilter: blur(8px);
	backdrop-filter: blur(8px);
	border-radius: 4px;
	height: 30px;
	background-color: rgba(0,0,0,0.25);
	border: lightgray solid 1px;
	color: white;
	width: 200px;
}

.button {
	border-radius: 4px;
	background-color: rgba(174,203,255,0.2);
	font-size: 16px;
	font-weight: 200;
	border: lightgray solid 1px;
	color: white;
	width: 100px;
}

.button:hover {
	background-color: rgba(174,203,255,0.8);
}

.container {
	width: auto;
	height: 100%;
	display: grid;
	font-family: 'Raleway', 'sans-serif';
	grid-template-areas:
		"logo logo menu"
		"content content content"
		"footer footer footer";
	grid-auto-rows: 1fr 7fr 1fr;
	grid-auto-columns: 1fr 3fr 1fr;
}

#background_video {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
}

.logo {
	grid-area: logo;
	margin: 25px 0px 0px 8px;
	position: fixed;
	//background-color: rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	height: 110px;
	z-index: 1;
	max-width: 240px;
	a img {
		margin: -25px 0px 0px 11px;
		z-index: 1;
	}
}

.logo:hover {
	background-color: rgba(255, 255, 255, 0.35);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
}

.filter {
	background-image: linear-gradient(to bottom right, #00b4ff, black);
	//background-color: rgba(43, 124, 200, 0.3);
	//-webkit-backdrop-filter: blur(5px);
	//backdrop-filter: blur(5px);
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	opacity: 0.6;
	z-index: 0;
}

.slogan {
	grid-area: logo;
	position: fixed;
	color: white;
	margin: 90px 0px 0px 3px;
	width: 311px;
	height: 54px;
	font-size: 20px;
	font-weight: 100;
	align-self: end;
	z-index: 1;
	animation-delay: 1s;
	p {
		margin: 8px 0px 0px 33px;
		
	}
}


/* FOOTER */

#footer {
	grid-area: footer;
	display: grid;
	grid-template-areas:
		"left middle right";
	grid-auto-rows: 1fr;
	grid-auto-columns: 33% 23% 43%;

	//background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	max-height: 100px;
	//margin-top: 10px;
	min-width: 108%;
	justify-self: center;
	overflow: hidden;
	height: 200px;
	z-index: 1;
	a {
		color: rgba(174,203,255,1);
		//color: #ff2200;
	}
}

.footer-text {
	grid-area: right;
	justify-self: end;
	z-index: 1;
	//font-size: 18px;
	font-weight: 200;
	margin: 10px 75px 0px 0px;
	color: white;
	animation-delay: 1s;
	text-align: end;
	ul {
		list-style: none;
		font-size: 14px;
		font-weight: 100;
	}
	table {
		text-align: center;
	}
}

.footer-social-media {
	grid-area: middle;
	justify-self: center;
	margin-top: 10px;
	z-index: 1;
	//font-size: 18px;
	font-weight: 200;
	color: white;
	animation-delay: 1s;
	text-align: center;
}

.footer-email {
	grid-area: left;
	justify-self: start;
	z-index: 1;
	//font-size: 18px;
	font-weight: 200;
	margin: 10px 0px 0px 75px;
	color: white;
	animation-delay: 1s;
	text-align: start;
	input {
		color: white;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.text_input {
		border-radius: 4px;
		height: 30px;
		background-color: rgba(0,0,0,0.25);
		border: lightgray solid 1px;
		max-width: 150px;
	}
	.button {
		border-radius: 4px;
		background-color: rgba(174,203,255,0.2);
		font-size: 12px;
		font-weight: 200;
		height: 20px;
		border: white solid 1px;
	}
	.button:hover {
		background-color: rgba(174,203,255,0.8);
	}
}

/*.footer-background {
	grid-area: footer;
	background-color: rgba(0, 0, 0, 0.6);
	position: relative;
	max-height: 400px;
	margin-top: 10px;
	min-width: 105%;
	justify-self: center;
	overflow: hidden;
	z-index: 1;
}*/

.social-icons a img {
	opacity: 0.8;
}


/* NEWS PAGE */



.newsletter {
	grid-area: content;
	align-self: center;
	justify-self: center;
	z-index: 1;
	display: flex;
	//background-color: rgba(0, 0, 0, 0.4);

}

.newsletter-1 .single-letter-1 {
	position: absolute;
	grid-area: content;
	justify-self: center;
	align-self: center;
	display: none;
	margin: -150px 0px 0px -125px;
}

.newsletter .newsletter-1:hover .single-letter-1 {
	display: inline;
}

.newsletter-2 .single-letter-2 {
	position: absolute;
	grid-area: content;
	justify-self: center;
	align-self: center;
 	display: none;
 	margin: -150px 0px 0px -325px;
}

.single-letter-2 {
	display: none;
}

.newsletter .newsletter-2:hover .single-letter-2 {
	display: inline;
}

.newsletter-3 .single-letter-3 {
	position: absolute;
	grid-area: content;
	justify-self: center;
	align-self: center;
	display: none;
	margin: -150px 0px 0px -525px;
}

.single-letter-3 {
	display: none;
}

.newsletter .newsletter-3:hover .single-letter-3 {
	display: inline;
}


/* ABOUT PAGE */

.about_fill {
	grid-area: content;
	display: flex;
	justify-self: center;
}

.about_info {
	grid-area: content;
	position: relative;
	color: white;
	text-align: center;
	justify-self: center;
	width: 475px;
	font-weight: 100;
	font-size: 19px;
	align-self: center;
	//background-color: rgba(0, 0, 0, 0.6);
	overflow: auto;
	z-index: 1;
}

.about_text {
	grid-area: content;
	position: relative;
	p {
		color: white;
	}
	z-index: 1;
	text-align: center;
	justify-self: end;
	align-self: center;
	width: 440px;
	height: 400px;
	border-radius: 5px;
	font-size: 20px;
	margin-right: 20px;
}

.spacer {
	width: 50px;
}



/* MAINTENANCE PAGE */


.maintenance {
	grid-area: content;
	align-self: center;
	justify-self: center;
	z-index: 1;
	text-align: center;
	margin: -150px 0px 0px 0px;
}

.maintenance_info {
	grid-area: content;
	position: relative;
	color: white;
	text-align: center;
	justify-self: center;
	width: 350px;
	font-weight: 100;
	font-size: 19px;
	align-self: center;
	//background-color: rgba(0, 0, 0, 0.6);
	z-index: 0;
	height: 320px;
	margin-bottom: -198px;
	padding-top: 20px;
}

.maintenance_form {
	grid-area: content;
	align-self: center;
	justify-self: center;
	display: block;
	//background-color: rgba(0,0,0,0.6);
	height: 200px;
	margin: -10px 0px 0px 0px;
	z-index: 2;
	max-width: 350px;
	.button {
		margin-top: 20px;
	}
}

.maintenance_form form input {
	text-align: center;
}



/* SERVICES PAGE */

.packages {
	margin-left: 20px;
	color: white;
	grid-area: content;
	position: relative;
	align-self: center;
	justify-self: start;
	font-weight: 300;
	text-align: center;
	font-size: 22px;
	border-radius: 5px;
	//background-color: rgba(0, 0, 0, 0.6);
	min-width: 200px;
	z-index: 2;
}

.packages:hover {
	//background-color: rgba(0, 0, 0, 0.6);
	text-align: start;
}

.packages a {
	color: white;
}

.standard_dropdown {
	display: none;
	color: white;
	position: relative;	
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	border-radius: 5px;
	ul {
		list-style: none;
	}
}

.standard_package:hover {
	.standard_dropdown {
		display: inline-flex;
		color: white;
		margin: 50px;
	}
}

.standard_package, .deluxe_package, .business_pro_package {
	z-index: 1;
}


.deluxe_dropdown {
	display: none;
	color: white;
	position: relative;	
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	ul {
		list-style: none;
	}
}

.deluxe_package:hover {
	.deluxe_dropdown {
		display: inline-flex;
		color: white;
		margin: 50px;
	}
}

.business_pro_dropdown {
	display: none;
	color: white;
	position: relative;	
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	ul {
		list-style: none;
	}
}

.business_pro_package:hover {
	.business_pro_dropdown {
		display: inline-flex;
		color: white;
		margin: 50px;
	}
}

.standard_package {
	animation-delay: 1s;
}

.deluxe_package {
	animation-delay: 1s;
}

.business_pro_package {
	animation-delay: 1s;
}

.wireframes {
	position: absolute;
	grid-area: content;
	animation-delay: 2s;
	animation-duration: 3s;
	display: none;
	margin-right: 25px;
	align-self: center;
	justify-self: center;
	margin: 230px 0px 0px -230px;
}

.services_info_background:hover {
	margin: 0px 75px 0px 0px;
	.wireframes {
		display: inline-flex;
	}
}

.services_info {
	position: relative;
	color: white;
	grid-area: content;
	display: inline-block;
	// margin: 0px 8% 0px 0px;
	width: 170px;
	font-weight: 100;
	font-size: 23px;
	text-align: center;
	height: 320px;
	animation-delay: 1s;
	// animation-duration: 3s;
	align-self: center;
	justify-self: center;
	z-index: 2;
	p {
		width: 144px;
		margin-left: 14px;
	}
}

.services_info_background {
	grid-area: content;
	position: relative;
	display: block;
	justify-self: end;
	align-self: center;
	margin: 0px 75px 0px 0px;
	//background-color: rgba(0, 0, 0, 0.6);
	z-index: 1;
}

.wireframe_left {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	margin: -275px 0px 20px -575px;
	z-index: 0;
}

.wireframe_left img:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
	z-index: -1;
}

.wireframe_right {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
	margin: -275px 0px 20px 50px;
	z-index: 0;
}

.wireframe_right img:hover {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.8);
	z-index: -1;
}

/* CONTACT PAGE */


.contact_info {
	grid-area: content;
	position: relative;
	color: white;
	justify-self: center;
	text-align: center;
	margin: 58px 0px 0px 0px;
	font-size: 26px;
	font-weight: 200;
	border-radius: 5px;
	//background-color: rgba(0, 0, 0, 0.6);
	animation-delay: 2s;
	animation-duration: 3s;
	align-self: center;
	z-index: 1;
	max-width: 460px;
	max-height: 112px;
	ul li {
		list-style: none;
	}
	ul {
		margin-left: -33px;
	}
	a {
		//color: rgba(174,203,255,1);
		color: #ff2200;
		font-weight: 500;
	}
}


/* DROP DOWN MENU */


.dropbtn {
  background-color: rgba(0, 0, 255, 0);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  grid-area: menu;
  position: relative;
  justify-self: center;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  //background-color: rgba(0, 0, 0, 0.6);
  max-height: 70px;
  max-width: 67px;
  border-radius: 0px 0px 5px 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  //background-color: rgba(0,0,0,0.6);
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-width: 160px;
  margin: -1px 0px 0px -53px;
  text-align: end;
  min-height: 220px;
  border-radius: 5px 0px 5px 5px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	color: white;
}

.dropdown-content a:hover {
	background-color: rgba(255, 255, 255, 0.6);
	color: white;	
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: rgba(255, 255, 255, 0.6);}

.services_tab .services_dropdown {
	display: none;
	//background-color: rgba(0, 0, 0, 0.6);
	min-width: 165px;
	color: white;
	margin: -44px 0px 0px -165px;
	z-index: 1;
	box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.2);
	position: absolute;
	max-height: 88px;
}

.services_tab:hover .services_dropdown {
	display: block;
	//background-color: rgba(0, 0, 0, 0.6);
}

.services_dropdown a:hover {
	background-color: rgba(255, 255, 255, 0.6);
	color: white;
}

.menu_icon {
	div {
  		width: 35px;
  		height: 5px;
  		background-color: rgba(255, 255, 255, 1);
  		margin: 6px 0;
  		border-radius: 3px;
	}
	.one {
		animation-delay: 0.5s;
		animation-duration: 3s;
	}
	.two {
		animation-delay: 1s;
		animation-duration: 3s;
	}
	.three {
		animation-delay: 1.5s;
		animation-duration: 3s;
	}
}


/* FORM ADDITIONS */

.shadow {
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);	
}

.shadow-double {
	box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.8);
}




/* MOBILE VIEWING */



@media screen and (max-width: 600px) {

	.dropdown {
		margin: 0px 0px 0px 33px;
		font-size: 12px;
		//width: 45px;
		.dropdown-content {
			min-width: 104px;
			margin: 0px 0px 0px -37px;
			.services_tab {
				.services_dropdown {
					font-size: 11px;
					//width: 100px;
					//margin: 0px 0px 0px 0px;
				}
			}
		}
	}

	/*.dropdown-content:hover {


		.services_tab:hover {
			.services_dropdown {
				margin: 0px 0px 0px 0px;
				position: relative;
			}
		}
	}*/

	.slogan {
		font-size: 20px;
	}
	img {
		max-width: 300px;
		max-height: 400px;
	}

	.newsletter {
		display: block;
		margin: 30px;
		.newsletter-1 .single-letter-1 {
			margin: 150px 0px 0px -250px;
		}
		.newsletter-2 .single-letter-2 {
			margin: -50px 0px 0px -250px;
		}
		.newsletter-3 .single-letter-3 {
			margin: -150px 0px 0px -250px;
		}
	}

	.packages {
		grid-area: content;
		justify-self: start;
		font-size: 15px;
		align-self: start;
		margin: 145px 0px 0px 9px;
		text-align: start;
		position: relative;
		display: block;
		z-index: 2;
		.packages:hover {
			text-align: start;
			//background-color: rgba(0,0,0,0.8);
		}
		img {
			max-width: 325px;
			max-height: 225px;
			margin: -50px 0px 0px -50px;
		}
		img:hover {
			box-shadow: rgba(255,255,255,0.22) 5px 5px 6px 0px;
		}
	}

	.services_info_background {
		grid-area: content;
		justify-self: end;
		align-self: end;
		margin: 80px 0px 25px 9px;
		position: relative;
		display: block;
		z-index: 1;
		.wireframes {
			margin: -260px -20px 0px 0px;
			right: 0;
		}
		img {
			max-height: 250px;
			max-width: 125px;
		}
		.wireframe_left {
			margin: 0px 50px 0px 0px;
		}
		.wireframe_right {
			margin: 0px 95px 0px 0px;
		}
	}

	.services_info_background:hover {
		margin: 0px 0px 25px 0px;
	}

	.services_info {
		font-size: 14px;
		font-weight: 300;
		max-height: 120px;
		display: inline-block;
		overflow: hidden;
		z-index: 2;
	}
	
	.social-icons {
		display: grid;
		margin-top: -10px;
		img {
			max-width: 20px;
			max-height: 20px;
		}
	}

	.footer-email {
		margin: 10px 0px 0px 30px;
	}

	.footer-email {
		input {
			max-width: 75px;
			max-height: 20px;
			font-size: 12px;
	}

	.text_input {
		border-radius: 4px 4px 0px 0px;
		font-size: 10px;
		border: white solid 1px;
		width: 75px;
	}

	.button {
		border-radius: 0px 0px 4px 4px;
		font-size: 10px;
		border: white solid 1px;
	}
}

	.footer-text {
		max-width: 100px;
		tr {
			margin-left: 20px;
			font-size: 14px;
		}
	}

	.contact_info {
		font-size: 20px;
	}

	.filter {
		z-index: 0;
	}
}



