<div class="filter"></div>
<!-- <div class="blur"></div> -->

<div id="footer">

	<div class="blur"></div>

	<div class="footer-text animated fadeIn">
		<table>
			<tr>
				<th>&nbsp;</th>
				<th>Navigate</th>
				<th>&nbsp;</th>
			</tr>
			<tr>
				<td><a href="/">Home</a></td>
				<td>&nbsp;</td>
				<td><a href="/about">About</a></td>
			</tr>
			<tr>
				<td><a href="/services">Build</a></td>
				<td>&nbsp;</td>
				<td><a href="/maintenance">&nbsp;Maintain</a></td>
			</tr>
			<tr>
				<td><a href="/portfolio">Portfolio</a></td>
				<td>&nbsp;</td>
				<td><a href="/contact">Contact</a></td>
				<!-- <td><a href="/login">Log in</a></td> -->
			</tr>
		</table>
	</div>

	<div class="footer-social-media animated fadeIn">
		<p>Social Media</p>

		<div class="social-icons animated fadeIn">
			<a href="https://www.facebook.com/wegscheidwebservices/" rel="nofollow"><%= image_tag('facebook.png', size: '40x40', alt: 'facebook_icon') %></a>
			<a href="https://twitter.com/Wegscheidweb" rel="nofollow"><%= image_tag('twitter.png', size: '40x40', alt: 'twitter_icon')  %></a>
			<a href="https://www.youtube.com/channel/UCV_5Oy-6GVxzUKDzvHrNQmg?view_as=subscriber" rel="nofollow">
				<%= image_tag('you_tube.png', size: '40x40', alt: 'youtube_icon')  %>
			</a>
		</div>

	</div>

	<div class="footer-email animated fadeIn">
<!-- 		<p>Get Newsletter</p>

		<form>
			<input type="text" name="email" placeholder="Email Address" class="text_input text-box"><br>
			<input type="submit" name="Submit" class="button">
		</form> -->

		<h4>Contact Us</h4>
		<h5><a href="mailto:contact@wegscheidwebservices.com">Send us an email</a></h5>

	</div>
</div>