<div class="filter"></div>

<div id="footer">

	<div class="footer-text animated fadeIn">
		<table>
			<tr>
				<th>&nbsp;</th>
				<th>Navigate</th>
				<th>&nbsp;</th>
			</tr>
			<tr>
				<td><a href="/">Home</a></td>
				<td>&nbsp;</td>
				<td><a href="/about">About</a></td>
			</tr>
			<tr>
				<td><a href="/services">Services</a></td>
				<td>&nbsp;</td>
				<td><a href="/maintenance">&nbsp;Maintenance</a></td>
			</tr>
			<tr>
				<td><a href="/contact">Contact</a></td>
				<td>&nbsp;</td>
				<!-- <td><a href="/login">Log in</a></td> -->
			</tr>
		</table>
	</div>

	<div class="footer-social-media animated fadeIn">
		<p>Social Media</p>

		<div class="social-icons animated fadeIn">
			<a href="https://twitter.com/WegscheidS"><%= image_tag('twitter.png', size: '40x40')  %></a>
			<a href="https://www.youtube.com/channel/UCV_5Oy-6GVxzUKDzvHrNQmg?view_as=subscriber">
				<%= image_tag('you_tube.png', size: '40x40')  %>
			</a>
		</div>

	</div>

	<div class="footer-email animated fadeIn">
		<p>Get Newsletter</p>

		<form>
			<input type="text" name="email" placeholder="Email Address">
			<input type="submit" name="Submit" class="btn">
		</form>





	</div>
</div>