<div class="filter"></div>

<div class="logo animated fadeInDown">
	<%= link_to image_tag("blue_letter_1.png", :controller => 'static_pages#home', :action => 'home', :width => '230', :height => '150' )%>
</div>


<div class="dropdown">
  <button class="dropbtn">
  	<div class="menu_icon">
  		<div class="one animated fadeInRight"></div>
  		<div class="two animated fadeInRight"></div>
  		<div class="three animated fadeInRight"></div>
  	</div>
  </button>

  <div class="dropdown-content">
    <a href="/">Home</a>
    <a href="about">Mission</a>
    <a href="services">Services</a>
    <a href="contact">Contact</a>
  </div>
</div>