<div class="logo animated fadeInDown shadow">
	<a href="/"><%= image_tag("blue_letter_1.png", :width => '230', :height => '150' )%></a>
</div>

<div class="slogan">
  <i>
    <p id="period" class="animated fadeIn" onclick="sayHello()">Build your presence.</p>
  </i>
</div>

<div class="dropdown">
  <button class="dropbtn">
  	<div class="menu_icon">
  		<div class="one animated fadeInDown"></div>
  		<div class="two animated fadeInDown"></div>
  		<div class="three animated fadeInDown"></div>
  	</div>
  </button>

  <div class="dropdown-content animated fadeInDown">
    <a href="/">Home</a>
    <a href="/about">About</a>

    <div class="services_tab">
      <div class="services_btn">
        <a href="">&#9001; &#8195; Services</a>
      </div>
    
      <div class="services_dropdown animated fadeInRight">
        <a href="/services">Build New Site</a>
        <a href="/maintenance">Maintain Current Site</a>
      </div>
    </div>

    <a href="/news">News</a>
    <a href="/contact">Contact</a>

    <!-- <% if logged_in? %>
      <%= link_to "My account", current_member, method: :get %>
      <%= link_to "Log out", logout_path, method: :delete %>
    <% else %>
      <a href="/login">Log In</a>
    <% end %> -->

  </div>
</div>
