<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %><br>
    <p>
    	<a href="https://www.wegscheidwebservices.com">WWS</a><br>
    	<i>Build your presence.</i>
    </p>
  </body>
</html>
